@font-face { font-family: Azonix; src: url('font/Azonix.otf'); } 

*{
    font-family: 'Azonix', sans-serif;
}
body{
    margin: 20px 60px;
    background-image: url(image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EC7063;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.01),#ff004f);
    left: 0;
    
}
nav button a{margin: 0;}
nav a{
    margin-right: 40px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    position: relative;
}
nav a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #EC7063;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav a:hover::after{
    width: 100%;
}

nav button{
    background: none;
    padding: 16px;
    border-radius: 16px;
    color: white;
    border: 2px solid;
    font-weight: bolder;
    transition: transform 0.5s;
}
nav button:hover{
    color: #EC7063;
    transform: translateY(-5px);
}
#main{
    margin-top: 42vh;
    text-align: center;
    border-radius: 15px;
}
#main h1{
    color: white;
    font-size: 50px;
}
#main p{
    color: white;
    font-size: 25px;
}
#main button{
    color: white;
    padding: 18px;
    border-radius: 16px;
    border: 2px solid;
    background: none;
    font-weight: bolder;
    transition: transform 0.5s;
}
#main button:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.01),#ff004f);
    transform: translateY(-5px);

}
#main a{
    color: #fff;

}

#product{
    margin-top: 200px;
    width: 100%;
   color: #fff;
   border-top: 1px solid #EC7063;
   text-align: center;
   
}
#product{
    font-size: 28px;
}
.product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    
}
.left {
    background: #EC7063;
    border-radius: 8px;
}

.left{
    height: 400px;
    width: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.left img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    text-align: center;
    font-size: 20px;
    transition: height 0.5s;
}
.layer h1{
    font-weight: 900;
    margin-bottom: 20px;
}
.layer a{
        
        color: #fff;
        text-decoration: none;
        font-size: 28px;
        font-weight: bolder;
        position: relative;
   
}
.left:hover img{
    transform: scale(1.1);
}
.left:hover .layer{
    height:100%;

}

#about{
    margin-top: 40px;
    border-top: 1px solid #EC7063;
    text-align: center;

}
.container{
    color: #fff;
    font-size: 28px;
  
    
}


#contact{
    margin-top: 40px;
    border-top: 1px solid #EC7063;
    text-align: center;

}
.contact-left{
    flex-basis: 35%;

}
.contact-right{
    flex-basis: 60%;

}
.contact-left p{
    margin-top:30px ;
}
.contact-left p i{
    color: #ff004f;
    margin-right:15px ;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px ;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);

}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.layer2{
    background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 15px;
}

#product button{
    color: white;
    padding: 18px;
    margin-bottom: 50px;
    border-radius: 16px;
    border: 2px solid;
    background: none;
    font-weight: bolder;
    transition: transform 0.5s;
}
#product button:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.01),#ff004f);
    transform: translateY(-5px);

}